<div class="info" id="parentBody">
  <div class="custom-nav-wrapper top mobile-hidden" id="stickyNav">
      <div class="custom-nav">
        <div class="custom-nav-item active">
          <a class="custom-nav-link" href="#overview" pagescroll="">Overview</a>
        </div>
        <div class="custom-nav-item">
          <a class="custom-nav-link" href="#prerequisites" pagescroll="">Prerequisites</a>
        </div>
        <div class="custom-nav-item">
          <a class="custom-nav-link" href="#visa_and_logistics" pagescroll="">
            <div class="hidden-xl-down">Visa and Logistics</div>
          </a>
        </div>
        <div class="custom-nav-item">
          <a class="custom-nav-link" href="#leadership" pagescroll="">
            <div class="hidden-xl-down">Leadership and Development</div>
          </a>
        </div>
      </div>
  </div>
  <div class="tab-content">
    <div class="tab-contents">
      <div class="heading-out">
        Overview
      </div>
      <div class="inner-contents">
        <div class="headings">
          Role description
        </div>
        <div>
            <app-inline-edit (onSave)="descriptionChanged($event)" [(ngModel)]="opportunity.description" [required]="true" type="text">
            </app-inline-edit>
        </div>
      </div>
      <div class="inner-contents">
        <div class="headings">
          Main Activities
        </div>
        <div>
          <span></span>
        </div>
      </div>
    </div>
    <div class="tab-contents">
        <div class="heading-out">
            Prerequisites
          </div>
        <div class="profile-match">
            <span>Matches your profile</span>
        </div>
        <div class="inner-contents-tabular">
            <div class="flex-left">
              Backgrounds
            </div>
            <div class="flex-right">
                <div class="heading">
                    Required
                </div>
                <div class="content">
                    <span>
                        <span>Statistics</span>
                        <span>Telecomunication Engineering</span>
                    </span>
                </div>
            </div>
        </div>
        <div class="inner-contents-tabular">
          <div class="flex-left">
              Skills
          </div>
          <div class="flex-right">
              <div class="heading">
                  Required
              </div>
              <div class="content">
                  <span>
                      <span>Fortran</span>
                      <span>CVS</span>
                  </span>
              </div>
              <div class="heading">
                  Preferred
              </div>
              <div class="content">
                  <span>
                      <span>Database Administration</span>
                      <span>Corel Draw</span>
                      <span>Photoshop</span>
                  </span>
              </div>
          </div>
        </div>
        <div class="inner-contents-tabular">
          <div class="flex-left">
              Nationalities
          </div>
          <div class="flex-right">
              <div class="content">
                  <span>
                      <span>No Preference</span>
                  </span>
              </div>
          </div>
        </div>
        <div class="inner-contents-tabular">
          <div class="flex-left">
              Languages
          </div>
          <div class="flex-right">
              <div class="heading">
                  Required
              </div>
              <div class="content">
                  <span>
                      <span>Sign Language</span>
                      <span>Vietnamese</span>
                  </span>
              </div>
          </div>
        </div>
        <div class="inner-contents-tabular">
          <div class="flex-left">
              Study Levels
          </div>
          <div class="flex-right">
              <div class="content">
                  <span>
                      <span>Doctorate</span>
                  </span>
              </div>
          </div>
        </div>
    </div>
    <div class="tab-contents">
        <div class="heading-out">
            Visa and Logistics
          </div>
        <div class="inner-contents-tabular">
            <div class="flex-left">
              Selection Process
            </div>
            <div class="flex-right">
              
            </div>
        </div>
        <div class="inner-contents-tabular">
          <div class="flex-left">
              Working hours
          </div>
          <div class="flex-right">
            <div class="content">
                <span>
                    <span>to</span>
                    <span>Not on weekends</span>
                </span>
            </div>
          </div>
        </div>
        <div class="inner-contents-tabular">
          <div class="flex-left">
              Logistics
          </div>
          <div class="flex-right">
            <div class="content">
                <span class="icon"><i class="cm cm-no no"></i></span>
                <span class="text">Computer Provided</span>
                <span class="icon-2"><i class="cm cm-laptop"></i></span>
            </div>
            <div class="content">
                <span class="icon"><i class="cm cm-no no"></i></span>
                <span class="text">Accommodation Provided</span>
                <span class="icon-2"><i class="cm cm-bed"></i></span>
              </div>
              <div class="content">
                <span class="icon"><i class="cm cm-no no"></i></span>
                <span class="text">Accommodation Provided</span>
                <span class="icon-2"><i class="cm cm-bed"></i></span>
              </div>
          </div>
        </div>
        <div class="inner-contents-tabular">
          <div class="flex-left">
              Visa
          </div>
          <div class="flex-right">
            <div class="heading">
                Visa Type
            </div>
            <div class="content">
                <span>
                    <span>N/A</span>
                </span>
            </div>
            <div class="heading">
                Visa Duration
            </div>
            <div class="content">
                <span>
                    <span>N/A</span>
                </span>
            </div>
            <div class="heading">
                Visa Link
            </div>
            <div class="content">
                <span>
                    <span>N/A</span>
                </span>
            </div>
          </div>
        </div>
        <div class="inner-contents-tabular">
          <div class="flex-left">
              Host AIESEC office
          </div>
          <div class="flex-right">
            <div class="content">
                <span>
                    <span>AIESEC in Test</span>
                </span>
            </div>
            <div>
                <p class="stars">
                  <span><i class="fa fa-star-o" aria-hidden="true"></i></span>
                  <span><i class="fa fa-star-o" aria-hidden="true"></i></span>
                  <span><i class="fa fa-star-o" aria-hidden="true"></i></span>
                  <span><i class="fa fa-star-o" aria-hidden="true"></i></span>
                  <span><i class="fa fa-star-o" aria-hidden="true"></i></span>
                </p>
              </div>
          </div>
        </div>
    </div>
  </div>
</div>