<div class="info" id="parentBody" *ngIf="opportunity">
  <div class="custom-nav-wrapper top mobile-hidden" id="stickyNav">
      <div class="custom-nav">
        <div class="custom-nav-item active">
          <a class="custom-nav-link" href="#overview" pagescroll="">Overview</a>
        </div>
        <div class="custom-nav-item">
          <a class="custom-nav-link" href="#prerequisites" pagescroll="">Prerequisites</a>
        </div>
        <div class="custom-nav-item">
          <a class="custom-nav-link" href="#visa_and_logistics" pagescroll="">
            <div class="hidden-xl-down">Visa and Logistics</div>
          </a>
        </div>
        <div class="custom-nav-item">
          <a class="custom-nav-link" href="#leadership" pagescroll="">
            <div class="hidden-xl-down">Leadership and Development</div>
          </a>
        </div>
      </div>
  </div>
  <div class="tab-content">
    <div class="tab-contents">
      <div class="heading-out">
        Overview
      </div>
      <div class="inner-contents">
        <div class="headings">
          Role description
        </div>
        <div>
            <app-inline-edit name="description" (onSave)="valueChanged($event)" [(ngModel)]="opportunity.description" [required]="true" type="text">
            </app-inline-edit>
        </div>
      </div>
      <div class="inner-contents">
        <div class="headings">
          Main Activities
        </div>
        <div>
          <span></span>
        </div>
      </div>
    </div>
    <div class="tab-contents">
        <div class="heading-out">
            Prerequisites
          </div>
        <div class="inner-contents-tabular">
            <div class="flex-left">
              Backgrounds
            </div>
            <div class="flex-right">
                <div *ngIf="opportunity.backgrounds.length > 0">
                    <div class="heading">
                        Required
                    </div>
                    <div class="content">
                        <span *ngFor="let background of opportunity.backgrounds">
                            <span *ngIf="background.option == 'required'">{{background.name}}, </span>
                        </span>
                        <select (change)="setBackgrounds($event)" name="backgrounds" id="requiredBackgroundInput" *ngIf="editing && editing.requiredBackgrounds" [(ngModel)]="backgroundRequired">
                            <option *ngFor="let background of lists.backgrounds" [value]="background.id">{{background.name}}</option>
                        </select>
                        <span (click)="toggleInput($event)" id="requiredBackgrounds" *ngIf="!(editing && editing.requiredBackgrounds)">Add</span>
                        <span (click)="toggleInput($event)" id="requiredBackgrounds" *ngIf="editing && editing.requiredBackgrounds">Cancel</span>
                    </div>
                    <div class="heading">
                        Preferred
                    </div>
                    <div class="content">
                        <span *ngFor="let background of opportunity.backgrounds">
                            <span *ngIf="background.option == 'preferred'">{{background.name}}, </span>
                        </span>
                    </div>
                </div>
                <div class="content" *ngIf="opportunity.backgrounds.length < 1">
                    <span>
                        <span>No Preference </span>
                    </span>
                </div>
            </div>
        </div>
        <div class="inner-contents-tabular">
          <div class="flex-left">
              Skills
          </div>
          <div class="flex-right">
              <div *ngIf="opportunity.skills.length > 0">
                <div class="heading">
                    Required
                </div>
                <div class="content">
                  <span *ngFor="let skill of opportunity.skills">
                      <span *ngIf="skill.option == 'required'">{{skill.name}}, </span>
                  </span>
                </div>
                <div class="heading">
                    Preferred
                </div>
                <div class="content">
                  <span *ngFor="let skill of opportunity.skills">
                      <span *ngIf="skill.option == 'preferred'">{{skill.name}}, </span>
                  </span>
                </div>
              </div>
              <div class="content" *ngIf="opportunity.skills.length < 1">
                <span>
                    <span>No Preference </span>
                </span>
              </div>
          </div>
        </div>
        <div class="inner-contents-tabular">
          <div class="flex-left">
              Nationalities
          </div>
          <div class="flex-right">
            <div class="content">
                <span *ngFor="let nationality of opportunity.nationalities" ngIf="opportunity.nationalities.length > 0">
                    <span>{{nationality.name}}, </span>
                </span>
                <span *ngIf="opportunity.nationalities.length < 1">
                    <span>No Preference </span>
                </span>
            </div>
          </div>
        </div>
        <div class="inner-contents-tabular">
          <div class="flex-left">
              Languages
          </div>
          <div class="flex-right">
              <div *ngIf="opportunity.languages.length > 0">
                <div class="heading">
                    Required
                </div>
                <div class="content">
                    <span *ngFor="let language of opportunity.languages">
                        <span *ngIf="language.option == 'required'">{{language.name}}, </span>
                    </span>
                </div>
                <div class="heading">
                  Preferred
                </div>
                <div class="content">
                    <span *ngFor="let language of opportunity.languages">
                        <span *ngIf="language.option == 'preferred'">{{language.name}}, </span>
                    </span>
                </div>
              </div>
              <div class="content" *ngIf="opportunity.languages.length < 1">
                <span>
                    <span>No Preference </span>
                </span>
              </div>
          </div>
        </div>
        <div class="inner-contents-tabular">
          <div class="flex-left">
              Study Levels
          </div>
          <div class="flex-right">
              <div class="content">
                  <span>
                      <span>Doctorate</span>
                  </span>
              </div>
          </div>
        </div>
    </div>
    <div class="tab-contents">
        <div class="heading-out">
            Visa and Logistics
          </div>
        <div class="inner-contents-tabular">
            <div class="flex-left">
              Selection Process
            </div>
            <div class="flex-right">
              
            </div>
        </div>
        <div class="inner-contents-tabular">
          <div class="flex-left">
              Working hours
          </div>
          <div class="flex-right">
            <div class="content">
                <span>
                    <span>to</span>
                    <span>Not on weekends</span>
                </span>
            </div>
          </div>
        </div>
        <div class="inner-contents-tabular">
          <div class="flex-left">
              Logistics
          </div>
          <div class="flex-right">
            <div class="content">
                <span class="icon"><i class="cm cm-no no"></i></span>
                <span class="text">Computer Provided</span>
                <span class="icon-2"><i class="cm cm-laptop"></i></span>
            </div>
            <div class="content">
                <span class="icon"><i class="cm cm-no no"></i></span>
                <span class="text">Accommodation Provided</span>
                <span class="icon-2"><i class="cm cm-bed"></i></span>
              </div>
              <div class="content">
                <span class="icon"><i class="cm cm-no no"></i></span>
                <span class="text">Accommodation Provided</span>
                <span class="icon-2"><i class="cm cm-bed"></i></span>
              </div>
          </div>
        </div>
        <div class="inner-contents-tabular">
          <div class="flex-left">
              Visa
          </div>
          <div class="flex-right">
            <div class="heading">
                Visa Type
            </div>
            <div class="content">
                <span>
                    <span>N/A</span>
                </span>
            </div>
            <div class="heading">
                Visa Duration
            </div>
            <div class="content">
                <span>
                    <span>N/A</span>
                </span>
            </div>
            <div class="heading">
                Visa Link
            </div>
            <div class="content">
                <span>
                    <span>N/A</span>
                </span>
            </div>
          </div>
        </div>
        <div class="inner-contents-tabular">
          <div class="flex-left">
              Host AIESEC office
          </div>
          <div class="flex-right">
            <div class="content">
                <span>
                    <span>AIESEC in Test</span>
                </span>
            </div>
            <div>
                <p class="stars">
                  <span><i class="fa fa-star-o" aria-hidden="true"></i></span>
                  <span><i class="fa fa-star-o" aria-hidden="true"></i></span>
                  <span><i class="fa fa-star-o" aria-hidden="true"></i></span>
                  <span><i class="fa fa-star-o" aria-hidden="true"></i></span>
                  <span><i class="fa fa-star-o" aria-hidden="true"></i></span>
                </p>
              </div>
          </div>
        </div>
    </div>
  </div>
</div>