.info {
    background-color: #fff;
    padding-bottom: 40px;
    position: relative;
}
.info .custom-nav-wrapper {
    position: absolute;
    left: 0;
    right: 0;
}
.info .custom-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    font-size: 16px;
    line-height: 15px;
    border-bottom: 1px solid #ccc;
}
.info .custom-nav-wrapper.top {
    top: 0;
}
.info .custom-nav .custom-nav-item.active {
    border-bottom: 2px solid #037ef3;
}
.info .custom-nav .custom-nav-item {
    width: auto;
    padding: 15px 0;
    color: black;
}
.info .custom-nav .custom-nav-item.active a {
    color: #037ef3;
}
a {
    text-decoration: none !important;
    color: #555;
}
.tab-content {
    padding-top: 5em;
}
.heading-out {
    color: #4A4A4A;
    font-family: Lato;
    font-size: 20px;
    font-weight: bold;
    line-height: 24px;
}
.tab-contents .headings {
    margin: 2% 0;
    color: #4A4A4A;
    font-family: Lato;
    font-size: 16px;
    font-weight: bold;
    line-height: 19px;
}
.tab-contents {
    margin-top: 2em;
    margin-bottom: 2em;
}
.inner-contents-tabular {
    display: flex;
    padding-bottom: 1em;
}
.flex-left {
    flex-basis: 20%;
    color: #4A4A4A;
    font-family: Lato;
    font-size: 15px;
    font-weight: bold;
    line-height: 15px;
    width: 20%;
    margin-right: 5px;
}
.flex-right {
    flex-basis: 80%;
    border-bottom: 1px solid #cbcbcb;
    padding-bottom: 1em;
}
.flex-right .heading {
    color: #9b9b9b;
    font-family: Lato;
    font-size: 12px;
    font-weight: bold;
    line-height: 15px;
    text-transform: uppercase;
    padding-bottom: 1em;
}
.flex-right .content {
    padding-bottom: 1em;
}

.my-button {
    max-width: 6em;
    height: 2em;
    padding: 3px;
    font-weight: 100;
    font-size: 12px;
    cursor: pointer;
}
.button-cancel {
    background: red;
}
.remove {
    cursor: pointer;
    font-size: 1em;
}