<div class="info" id="parentBody">
  <div class="custom-nav-wrapper top mobile-hidden" id="stickyNav">
      <div class="custom-nav">
        <div class="custom-nav-item active">
          <a class="custom-nav-link" href="#overview" pagescroll="">Overview</a>
        </div>
        <div class="custom-nav-item">
          <a class="custom-nav-link" href="#prerequisites" pagescroll="">Prerequisites</a>
        </div>
        <div class="custom-nav-item">
          <a class="custom-nav-link" href="#visa_and_logistics" pagescroll="">
            <div class="hidden-xl-up">Logistics</div>
            <div class="hidden-xl-down">Visa and Logistics</div>
          </a>
        </div>
        <div class="custom-nav-item">
          <a class="custom-nav-link" href="#leadership" pagescroll="">
            <div class="hidden-xl-up">Development</div>
            <div class="hidden-xl-down">Leadership and Development</div>
          </a>
        </div>
      </div>
  </div>
</div>