<div class="parent">
    <div class="sidebar-logo">   
    </div>
    <div class="sidebar-details">
        <div class="sidebar-row">
            <div>
                <div class="heading">
                    Background
                </div>
                <div class="content" >
                    <span>
                        <span *ngFor="let background of opportunity.backgrounds;let index = index; trackBy:trackByIndex"><app-inline-edit [(ngModel)]="opportunity.backgrounds[index].name" [required]="true" type="text">
                            </app-inline-edit></span>
                    </span>
                </div>
            </div>
        </div>
        <div class="sidebar-row">
            <div class="flex-33">
                <div class="heading">
                    Start Date
                </div>
                <div class="content">
                    <span>23 Sep 2017</span>
                </div>
            </div>
            <div class="flex-33">
                <div class="heading">
                    End Date
                </div>
                <div class="content">
                    <span>3 Oct 2017</span>
                </div>
            </div>
            <div class="flex-33">
                <div class="heading">
                    Duration
                </div>
                <div class="content">
                    <span>{{opportunity.duration}} Weeks</span>
                </div>
            </div>
        </div>
        <div class="sidebar-row">
            <div class="flex-33">
                <div class="heading">
                    Salary
                </div>
                <div class="content">
                    <span *ngIf="opportunity.programme_fee.fee; else noSalary">{{opportunity.programme_fee.currency.alphabetic_code}} {{opportunity.programme_fee.fee}}</span>
                    <ng-template #noSalary>Unpaid</ng-template>
                </div>
            </div>
            <div class="flex-33">
                <div class="heading">
                   
                </div>
            </div>
            <div class="flex-33">
                <div class="heading">
                    Position
                </div>
                <div class="content">
                    <span>{{opportunity.available_openings}}</span>
                </div>
            </div>
        </div>
        <div class="sidebar-row">
            <div>
                <div class="heading">
                    Fees
                </div>
                <div class="content">
                    <span *ngIf="opportunity.programme_fee.fee; else noFee">{{opportunity.programme_fee.currency.alphabetic_code}} {{opportunity.programme_fee.fee}}</span>
                    <ng-template #noFee>Free!</ng-template>
                </div>
            </div>
        </div>
    </div>
</div>