<div class="opportunity-cover">
  <div class="overlay"></div>
  <div class="opportunity-details">
    <div class="opportunity-content">
    <h1 class="opportunity-title" *ngIf="opportunity">{{ opportunity.title }}</h1>
      <h3 class="opportunity-location"><i class="fa fa-map-marker" aria-hidden="true"></i> Not Available</h3>
    </div>
  </div>
</div>
<div class="container">
  <div class="info-box">
    <div class="general-info">
      <app-general-info></app-general-info>
    </div>
    <div class="sidebar-info">
      <app-profile-sidebar></app-profile-sidebar>
    </div>
  </div>
</div>