<div *ngIf="opportunity" class="opportunity-cover" [ngStyle]="{'background': 'url(' + opportunity.cover_photo_urls + ') no-repeat center', 'background-size': 'cover' }">
  <div class="overlay"></div>
  <div class="opportunity-details">
    <div class="opportunity-content">
    <h1 class="opportunity-title"><app-inline-edit name="title" (onSave)="valueChanged($event)" [(ngModel)]="opportunity.title" [required]="true" type="text" name="title">
      </app-inline-edit></h1>
    <!-- <inline-editor type="text" [(ngModel)]="editableText" (onSave)="saveEditable($event)" name="editableText1" size="8"></inline-editor> -->
      <h3 class="opportunity-location"><i class="fa fa-map-marker" aria-hidden="true"></i> Not Available</h3>
    </div>
  </div>
</div>
<div *ngIf="opportunity" class="container">
  <div class="info-box">
    <div class="general-info">
      <app-general-info></app-general-info>
    </div>
    <div class="sidebar-info">
      <app-profile-sidebar></app-profile-sidebar>
    </div>
  </div>
</div>